body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 14px/22px 'robotoregular',sans-serif;
    position: relative;
    background-color: #fff;
}

.top_bar
{
    background: none repeat scroll 0 0 rgba(0,0,0,0.7);
    bottom: 0;
    padding: 5px 0;
    position: fixed;
    width: max-content;
    z-index: 10;
    height:30px;
}

.fi_bt {
    color: #f8f9fa;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 3px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}